In [2]:
#importing needed libraries
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.4" 2019-07-16; OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3); OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
  Starting server from /home/supradha/anaconda3/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpwsy8_laj
  JVM stdout: /tmp/tmpwsy8_laj/h2o_supradha_started_from_python.out
  JVM stderr: /tmp/tmpwsy8_laj/h2o_supradha_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Europe/Berlin
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.3
H2O cluster version age:    18 days
H2O cluster name:           H2O_from_python_supradha_6nzlju
H2O cluster total nodes:    1
H2O cluster free memory:    964 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.7.1 final
--------------------------  ---------------------------------------------------

In [3]:
#importing dataset
df = h2o.import_file('Downloads/loan-prediction-problem-dataset/train_set.csv')
dftest = h2o.import_file('Downloads/loan-prediction-problem-dataset/train_set.csv')
df.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [4]:
df.describe()

Rows:614
Cols:13

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
type,string,enum,enum,int,enum,enum,int,real,int,int,int,enum,enum
mins,NaN,,,0.0,,,150.0,0.0,9.0,12.0,0.0,,
mean,NaN,,,0.5547445255474461,,,5403.4592833876195,1621.2457980270997,146.41216216216225,342.0,0.8421985815602837,,
maxs,NaN,,,2.0,,,81000.0,41667.0,700.0,480.0,1.0,,
sigma,NaN,,,0.785328986167431,,,6109.041673387181,2926.2483692241894,85.58732523570545,65.12040985461256,0.3648783192364048,,
zeros,0,,,345,,,0,273,0,0,89,,
missing,0,13,3,66,0,32,0,0,22,14,50,0,0
0,LP001002,Male,No,0.0,Graduate,No,5849.0,0.0,nan,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417.0,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,nan,Graduate,No,3036.0,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2.0,Graduate,No,4006.0,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1.0,Graduate,No,12841.0,10968.0,349.0,360.0,1.0,Semiurban,N

In [5]:
#identifying the output variable and input variables
y = "Loan_Status"
x = ['Gender','Married','Education','ApplicantIncome',
    'LoanAmount','CoapplicantIncome','Loan_Amount_Term',
    'Credit_History','Property_Area']
df[y]=df[y].asfactor()

In [6]:
#run AutoML
aml = H2OAutoML(max_models = 10, max_runtime_secs=300, seed = 1)
aml.train(x = x, y = y, training_frame = df)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [7]:
aml.leaderboard

model_id,auc,logloss,mean_per_class_error,rmse,mse
DRF_1_AutoML_20190911_195356,0.778319,0.71234,0.298307,0.398046,0.158441
StackedEnsemble_BestOfFamily_AutoML_20190911_195356,0.771321,0.474322,0.292148,0.388333,0.150803
StackedEnsemble_AllModels_AutoML_20190911_195356,0.771234,0.474498,0.292148,0.388472,0.150911
XGBoost_2_AutoML_20190911_195356,0.769963,0.494983,0.297356,0.399111,0.15929
GBM_1_AutoML_20190911_195356,0.766946,0.495518,0.308958,0.397398,0.157925
XGBoost_1_AutoML_20190911_195356,0.762286,0.480405,0.294752,0.392338,0.153929
GLM_grid_1_AutoML_20190911_195356_model_1,0.757559,0.477322,0.292148,0.389396,0.151629
GBM_2_AutoML_20190911_195356,0.756504,0.498084,0.299726,0.3983,0.158643
GBM_3_AutoML_20190911_195356,0.753573,0.502738,0.298541,0.399517,0.159614
GBM_4_AutoML_20190911_195356,0.752215,0.507388,0.292864,0.403483,0.162798

In [9]:
#predicted output
preds = aml.predict(dftest)
preds.head()

drf prediction progress: |████████████████████████████████████████████████| 100%

predict,N,Y
Y,0.295154,0.704846
Y,0.651064,0.348936
Y,0.0871992,0.912801
Y,0.00209278,0.997907
Y,0.0212766,0.978723
Y,0.229752,0.770248
Y,0.00209278,0.997907
N,0.974468,0.0255319
Y,0.0659226,0.934077
N,0.861702,0.138298

In [8]:
#save model
h2o.save_model(aml.leader, path = "./Loan_Pred_Model_III_shaz13")

'/home/supradha/Loan_Pred_Model_III_shaz13/DRF_1_AutoML_20190911_142058'